mon_env/
__pycache__/
*.log

# Fichiers volumineux conservés localement
pays-de-la-loire-*.osm.pbf
data/raw/gtfs/stop_times.txt
data/processed/stop_times_clean.csv
data/raw/gtfs/shapes.txt

# Copie locale éventuelle du dépôt GitHub
PROJET-FINAL-PATRICK/
data/database/gtfs_pays_loire.sqlite
data/database/gtfs_pays_loire.corrupt.sqlite